{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers
    {% if car in user.cars.all %}
      <form action="" method="post" class="link-to-page">
        {% csrf_token %}
        <button type="submit" name="action" class="btn btn-danger" value="remove">Delete me from this car</button>
      </form>
    {% else %}
      <form action="" method="post" class="link-to-page">
        {% csrf_token %}
        <button type="submit" name="action" class="btn btn-success" value="add">Assign me to this car</button>
      </form>
    {% endif %}
  </h1>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
